:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e5e5e5;
  background-color: #121212;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #121212;
}

#app {
  min-height: 100vh;
}
